
<!DOCTYPE html>
<html>
<title>semi-MList</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">Whale Re-identification and New Individual Detection</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
         <h2>Upload a whale image</h2>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    </div>
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px">
        <div class="w3-half">
          <img src="{{ url_for('static', filename= './test.jpg') }}" style="width:30%">
          <br>
         <button onclick="window.location.href='{{ url_for('predict') }}'">Predict</button>

        </div>
      
      </div>
  
<!-- End Page Content -->
</div>


</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <img src="{{ url_for('static', filename= './test.jpg') }}"  width="400" height="400" alt="Pic you uploaded"/>
    <br>
    <button onclick="window.location.href='{{ url_for('predict') }}'">Predict</button>

</body>
-->